<div>
  Bonjour Thibaud,
  <p>
  compte tenu de tes <a target="_blank" href="/uploads/thread_discord.jpg">récents propos</a> sur un espace de discussion public,
  j'ai (<a target="_blank" href="https://www.worldcubeassociation.org/persons/2008VIRO01">Philippe</a>) décidé d'appuyer sur plusieurs boutons en moins de 2h29 afin de te retirer le droit de participer aux compétitions en ligne mises en place par l'AFS.
  <br/>
  </p>
  <p>
  L'AFS a introduit les compétitions en ligne dans un but purement divertissant: il n'y a rien à gagner, aucun contrôle sur les résultats (au delà du retrait d'erreurs évidentes), et le but premier est de maintenir une activité périodique de la communauté dans la convivialité.
  </p>
  <p>
  En tant que telles, les dates et horaires des compétitions sont volontairement laxistes (contrairement aux compétitions réelles, on a potentiellement le temps d'accommoder des retardataires).
  En pratique, elles dépendent entièrement de la disponibilité des personnes qui les animent (Pauline Bonnaudet, Mario Laurent, et Jules Desjardin en fonction des éditions), et sont donc soumises aux aléas de la vie de ces personnes (qui, confinement ou pas, ont des activités en dehors du cube).
  </p>
  <p>
  Je trouve que ta réaction pour ce "retard" dans la fermeture est violente et disproportionnée par rapport à l'événement (avis que tu es libre de ne pas partager).
  </p>
  <p>
  Je n'ai pas passé plusieurs heures à implémenter ce système de compétitions en ligne pour des personnes qui tiennent ce genre de propos envers les personnes qui les animent.
  Être derrière un écran ne permet pas d'écrire n'importe quoi sans conséquences, et cette décision à pour but de le rappeler.
  </p>
  <p>
  N'étant pas directement visé par tes propos je n'attends rien de ta part.
  Par contre je pense que Pauline (qui gérait cette édition) et les autres seraient ravis de recevoir un petit mot, et je serai ravi de revenir sur ma décision si les personnes que j'ai mentionnées précédemment me le demande.

  </p>
  <p>
  Bien évidemment, si tu ne partages pas mon analyse de la situation, libre à toi de ne pas donner de suite à ce message et d'aller participer aux autres multiples compétitions en ligne qui existent en ce moment.
  </p>
  <p>
  J'espère qu'on pourra bientôt t'accueillir de nouveau et que tu sauras garder l'ambiance conviviale souhaitée pour ces compétitions,
  <br/>
  Bonne journée/soirée,
  <br/>
  Philippe Virouleau
  </p>
</div>
